* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  /*Меняет подсчет ширины блока, так чтобы нам было удобнее считать*/
  *,
  *::before,
  *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /*Убираем линии обводки у некоторых браузеров*/
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  /*Делаем блочными*/
  nav,footer,header,aside {display: block;}
  /*Уравнивают поведение шрифтов и элементов для разыных браузеров + запрет на увеличение автоматического шрифта на айфоне*/
  html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  /*Наследуем основное семейство шрифта для этих элементов*/
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  /*Убирают особиности в разных браузерах*/
  input::-ms-clear {display: none;}
  button {cursor: pointer;}
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,a:visited {text-decoration: none;}
  a:hover {text-decoration: none;}
  ul li {list-style: none;}
  img {vertical-align: top;}
  
  /*Обнуляем заголовки*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }